.PopularCategoriesContainer {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .ButtonAddCategorie {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: auto;
        height: auto;
        background: #1A1A1A;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 30px;
        font-family: "Ubuntu", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 18px;
        text-align: center;
        letter-spacing: -0.165px;
        color: #FFFFFF;
        margin: 15px 0;
        padding: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(255, 255, 255, 0.35);
        border-radius: 18px;
        animation: shadownText 10s ease-in-out infinite;
        img {
            padding-left: 20px;
        }

    }
}
@media screen and (min-width: 375px){
    .PopularCategoriesContainer{
        margin-top: 30px;
    }
}

@media screen and (min-width: 414px){
    .PopularCategoriesContainer{
        margin-top: 50px;
    }
}