.loginContainer {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;

    .parragaphAccount {
        color: #9C9C9C;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        margin-top: 50px;
        margin-left: 20px;
    }

    .principalButtonLogin {
        display: flex;
        justify-content: center;
        margin-top: 200px;
        flex-direction: column;
        align-items: center;
        @include ButtonColors;

        p {
            font-family: 'Ubuntu', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #9C9C9C;
            margin-top: 60px;
            a{
                color: white;
            }
        }
    }
}

@media screen and (min-width: 375px) and (max-width: 724px) {
    .loginContainer {
        .principalButtonLogin {
            display: flex;
            justify-content: center;
            margin-top: 80px;
            flex-direction: column;
            align-items: center;
            @include ButtonColors;    
            p {
                font-family: 'Ubuntu', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: #9C9C9C;
                margin-top: 40px;
                a{
                    color: white;
                }
            }
        }
    }
}