.signUpContainer {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;

    .headerSignUp {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 120px;

        h1 {
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: #FFFFFF;
        }

        img {
            position: relative;
            left: 60px;
        }
    }


    .parragaphAccount {
        display: flex;
        justify-content: center;
        align-content: space-between;
        align-items: center;
        color: #9C9C9C;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        margin-top: 60px;
    }

    .principalButtonSignUp {
        display: flex;
        justify-content: center;
        margin-top: 80px;
        flex-direction: column;
        align-items: center;
        @include ButtonColors;

        p {
            font-family: 'Ubuntu', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #9C9C9C;
            margin: 50px 0;

            a {
                color: white;
            }
        }
    }
}

@media screen and (min-width: 320px) {
    .signUpContainer {
        .headerText {
            .BrandIcon {
                left: 156px;
                top: 0px;

                img {
                    width: 100%;

                }
            }
        }
    }
}

@media screen and (min-width: 375px) {
    .signUpContainer {
        .headerText {
            .BrandIcon {
                left: 210px;
                top: 0px;

                img {
                    width: 100%;

                }
            }
        }

        .parragaphAccount {
            margin-top: 60px;
        }

        .buttonsAccesBySM {
            margin-top: 20px;
        }

        .formContainer {
            margin-top: 15px;
        }

        .principalButtonSignUp {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            flex-direction: column;
            align-items: center;
            @include ButtonColors;

            p {
                font-family: 'Ubuntu', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: #9C9C9C;
                margin: 50px;

                a {
                    color: white;
                }
            }
        }
    }
}


@media screen and (min-width: 390px) {
    .signUpContainer {
        .headerText {
            .BrandIcon {
                left: 230px;
                top: 0px;

                img {
                    width: 100%;
                }
            }
        }

        .parragaphAccount {
            margin-top: 60px;
        }

        .buttonsAccesBySM {
            margin-top: 40px;
        }

        .formContainer {
            margin-top: 35px;
        }

        .principalButtonSignUp {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            flex-direction: column;
            align-items: center;
            @include ButtonColors;

            p {
                font-family: 'Ubuntu', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: #9C9C9C;
                margin: 80px 0;

                a {
                    color: white;
                }
            }
        }
    }
}


@media screen and (min-width: 414px) {
    .signUpContainer {
        .headerText {
            .BrandIcon {
                left: 230px;
                top: 0px;

                img {
                    width: 100%;
                }
            }
        }

        .parragaphAccount {
            margin-top: 60px;
        }

        .buttonsAccesBySM {
            margin-top: 40px;
        }

        .formContainer {
            margin-top: 35px;
        }

        .principalButtonSignUp {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            flex-direction: column;
            align-items: center;
            @include ButtonColors;

            p {
                font-family: 'Ubuntu', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: #9C9C9C;
                margin: 80px 0;

                a {
                    color: white;
                }
            }
        }
    }
}


@media screen and (min-width: 768px) {
    .signUpContainer {
        .headerText {
            .BrandIcon {
                left: 39%;
                top: 0px;

                img {
                    width: 100%;
                }
            }
        }

        .parragaphAccount {
            margin-top: 90px;
            font-size: 18px;
        }

        .buttonsAccesBySM {
            margin-top: 40px;
            /*   width: 100%;
            padding: 0 130px; */
        }

        .formContainer {
            margin-top: 35px;
        }

        .principalButtonSignUp {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            flex-direction: column;
            align-items: center;
            @include ButtonColors;

            p {
                font-family: 'Ubuntu', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: #9C9C9C;
                margin: 80px 0;

                a {
                    color: white;
                }
            }
        }
    }
}



@media screen and (min-width: 900px) {
    .signUpContainer {
        .headerText {
            .BrandIcon {
                left: 39%;
                top: 0px;

                img {
                    width: 100%;
                }
            }
        }

        .parragaphAccount {
            margin-top: 90px;
            font-size: 18px;
        }

        .buttonsAccesBySM {
            margin-top: 40px;
            width: 900px;
            padding: 0 130px;
        }

        .formContainer {
            margin-top: 35px;
        }

        .principalButtonSignUp {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            flex-direction: column;
            align-items: center;
            @include ButtonColors;

            p {
                font-family: 'Ubuntu', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: #9C9C9C;
                margin: 80px 0;

                a {
                    color: white;
                }
            }
        }
    }
}



@media screen and (min-width: 1024px) {
    .signUpContainer {
        .headerText {
            h1{
                font-size: 40px;
            }
            .BrandIcon {
                left: 42%;
                top: 0px;

                img {
                    width: 100%;
                }
            }
        }

        .parragaphAccount {
            margin-top: 90px;
            font-size: 18px;
        }

        .buttonsAccesBySM {
            margin-top: 40px;
            width: 100%;
            padding: 0 130px;
        }

        .formContainer {
            margin-top: 35px;
        }

        .principalButtonSignUp {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            flex-direction: column;
            align-items: center;
            @include ButtonColors;

            p {
                font-family: 'Ubuntu', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: #9C9C9C;
                margin: 80px 0;

                a {
                    color: white;
                }
            }
        }
    }
}



@media screen and (min-width: 1440px) {
    .signUpContainer {
        .headerText {
            .BrandIcon {
                left: 45%;
                top: 0px;

                img {
                    width: 100%;
                }
            }
        }

        .parragaphAccount {
            margin-top: 90px;
            font-size: 20px;
        }

        .buttonsAccesBySM {
            margin-top: 40px;
            width: 100%;
            padding: 0 300px;
        }

        .formContainer {
            margin-top: 35px;
        }

        .principalButtonSignUp {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            flex-direction: column;
            align-items: center;
            @include ButtonColors;

            p {
                font-family: 'Ubuntu', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: #9C9C9C;
                margin: 80px 0;

                a {
                    color: white;
                }
            }
        }
    }
}


@media screen and (min-width: 1920px) {
    .signUpContainer {
        .headerText {
            .BrandIcon {
                left: 47%;
                top: 0px;

                img {
                    width: 100%;
                }
            }
        }

        .parragaphAccount {
            margin-top: 90px;
            font-size: 20px;
        }

        .buttonsAccesBySM {
            margin-top: 40px;
            width: 100%;
            padding: 0 600px;
        }

        .formContainer {
            margin-top: 35px;
        }

        .principalButtonSignUp {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            flex-direction: column;
            align-items: center;
            @include ButtonColors;

            p {
                font-family: 'Ubuntu', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: #9C9C9C;
                margin: 80px 0;

                a {
                    color: white;
                }
            }
        }
    }
}