.inputBasicAccont {
    display: flex;
    flex-direction: column;
    label {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        margin: 10px;
    }

    input {
        width: 330px;
        height: 40px;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(4px);
        border-radius: 11px;
        margin-top: 20px;
        padding-left: 15px;
    }

    .passwordInput {
        width: 330px;

        img {
            position: relative;
            right: -290px;
            top: -30px
        }

        input {
            width: 330px;
            height: 40px;
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #FFFFFF;
            background: rgba(255, 255, 255, 0.1);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(4px);
            border-radius: 11px;
            margin-top: 20px;
            padding-left: 15px;
        }
    }
}

@media screen and (max-width: 320px) {
    .inputBasicAccont {
        input {
            width: 280px;
        }

        .passwordInput {
            width: 280px;

            img {
                position: relative;
                right: -245px;
                top: -30px
            }

            input {
                width: 280px;
            }
        }
    }

}


@media screen and (min-width: 414px) {
    .inputBasicAccont {
        input {
            width: 350px;
        }

        .passwordInput {
            width: 350px;

            img {
                position: relative;
                right: -310px;
                top: -30px
            }

            input {
                width: 350px;
            }
        }
    }

}


@media screen and (min-width: 768px) {
    .inputBasicAccont {
        label {
            margin-top: 20px;
            font-size: 20px;
        }

        input {
            width: 450px;
            height: 50px;
            font-size: 16px;
        }

        .passwordInput {
            width: 450px;

            img {
                position: relative;
                right: -400px;
                top: -35px
            }

            input {
                width: 450px;
                height: 50px;
                font-size: 16px;
            }
        }
    }
}